<div
class="mont mb-5 text-sm md:text-md lg:text-xl"
style="color: #000000;"
>
  Are you sure your VA rating is fair? Let us uncover your potential
  rating eligibility.
</div>
<div class="bebas text-3xl my-2 lg:my-5">
  <h2 class="mx-auto text-3xl lg:text-4xl" style="color: #000000;">
    COMBINED DISABILITY PERCENTAGE:
    <span style="color: #184997"> <%= data.disabilityRating.calculatedRating %>% </span>
  </h2>
</div>
<div class="bebas text-3xl my-2 lg:my-5">
  <h2 class="mx-auto text-3xl lg:text-4xl" style="color: #000000;">
    CURRENT DISABILITY RATING:
    <span style="color: #184997"> <%= data.disabilityRating.disabilityRating %>% </span>
  </h2>
</div>
<div class="bebas text-3xl my-2 lg:my-5">
  <h2 class="mx-auto text-3xl lg:text-4xl" style="color: #000000;">
    MONTHLY PAYMENT AMOUNT:
    <span style="color: #184997"> $ <%= data.monthly.monthly %> </span>
  </h2>
</div>