
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTMX-EXPRESS DEMO</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./styles/styles.css">
  </head>
  <body class="">
    <fragment src="/components/nav"></fragment>
    
    <div class="flex flex-col w-full bg-white h-full py-12 px-10">
      <div class="flex flex-col lg:flex-row">
        <div class="pt-10 pb-[60px] lg:pe-[45px] ps-10 lg:pt-5 bg-slate-200 sm:w-full lg:w-2/6 flex flex-col relative lg:border-r-2 border-[#184997] gap-10 justify-center">
          <div class="absolute bottom-0 right-2/4 translate-x-2/4 lg:translate-x-0 lg:bottom-auto lg:right-[-18px] lg:top-2/4 bebas bg-[#184997] flex px-3 text-xl pt-2 pb-1 lg:rotate-[270deg] text-white rounded-t-xl tracking-wider">
            STEP 1
          </div>
          <span class="bebas text-4xl">
            BEGIN BY CHOOSING THE AREAS
            <span class="text-[#b52d38]"> WHERE YOU HAVE DISABILITIES </span>
          </span>

          <span class="mont text-lg font-medium pe-10">
            Choose the specific body part affected by your disability and
            indicate the percentage of impairment from 0% to 100%.
          </span>
        </div>
        <div class="w-full lg:w-2/4 flex flex-col sm:flex-row justify-evenly relative border-2 border-[#184997]">
          <div class="border-1 w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center">
            <PartSelect
              part={part}
              setPart={setPart}
              partDisplay={partDisplay}
              setPartDisplay={setPartDisplay}
            />
          </div>

          <div class="w-full sm:w-1/2 lg:w-1/3 flex flex-col items-center text-white justify-center">
            <PercentSelect
              btnRatingClick={ratingClicked}
              bodyPart={partDisplay}
              id={ratingId}
              setRatingId={setRatingId}
            />
          </div>
        </div>

        <div class="lg:w-1/4 flex flex-col p-5 bg-slate-300 items-center">
          <div class="flex flex-col w-full items-center border-b-2 border-slate-500 pb-3">
            <div class="text-3xl bebas">Total Disablity Rating</div>
            {/* Radial Progress Bar */}
            <div class="relative w-40 h-40">
              <svg class="w-full h-full" viewBox="0 0 100 100">
                <circle
                  class="text-gray-200 stroke-current"
                  stroke-width="10"
                  cx="50"
                  cy="50"
                  r="40"
                  fill="transparent"
                ></circle>

                <circle
                  class="text-[#b52d38]  progress-ring__circle stroke-current"
                  stroke-width="10"
                  stroke-linecap="round"
                  cx="50"
                  cy="50"
                  r="40"
                  fill="transparent"
                  stroke-dashoffset={
                    "calc(400 - (" +
                    (disabilityRating.disabilityRating / 10) * 40 +
                    " * 65) / 100)"
                  }
                ></circle>
                {/* Change increments by 40. (the 200 one) */}
                {disabilityLoading ? (
                  <>Loading</>
                ) : (
                  <text
                    x="50"
                    y="50"
                    font-size="32"
                    text-anchor="middle"
                    alignment-baseline="middle"
                    class="bebas"
                  >
                    {disabilityRating.calculatedRating
                      ? disabilityRating.disabilityRating + ""
                      : "0"}
                    %
                  </text>
                )}
              </svg>
            </div>
          </div>
          <fragment src="/components/total-compensation">

          </fragment>
        </div>
      </div>
  </body>
  <script src="./scripts/template.js" ></script>
</html>