<div class='bg-white w-full py-3 ps-4 pe-2 absolute border-2 border-[#184997]'>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Head
    </div>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Left Arm
    </div>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Right Arm
    </div>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Torso
    </div>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Left Leg
    </div>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Right Leg
    </div>
    <div class='w-full inline-block bebas text-[#011936] text-xl hover:text-red-700 cursor-pointer'> 
        Other
    </div>

</div>